version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: resume_db
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
